.change__password__wrap {
    background: #ffff;
    padding: 20px 32px 34px 32px;
    min-height: 575px;
    position: relative;

    .header__wrap {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        .btn__back {
            margin-top: 2px;
            width: max-content;
            line-height: 0;
            padding: 0;
            background-color: transparent;
            border: unset;
        }

        .title {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .content__wrap {
        margin-bottom: 70px;
        display: flex;

        article {
            width: 400px;

            .info__item {
                margin-bottom: 24px;

                .form-label {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 6px;
                }

                .input__wrap {
                    position: relative;

                    .form-control {
                        height: 36px;
                        padding: 9px 32px 9px 14px;
                        font-weight: 500;
                        font-size: 16px;

                        &:focus {
                            border-color: unset;
                            box-shadow: unset;
                        }

                        &[type="password"] {
                            color: #D3D4D6;
                        }
                    }

                    .error--message {
                        position: absolute;
                        bottom: -20px;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 12px;
                        margin: auto;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .footer__wrap {
        position: absolute;
        bottom: 34px;

        .btn__action {
            border-radius: 4px;
            min-width: 160px;
            font-size: 18px;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            border: none;
            padding: 7px 24px;
            font-weight: 700;
            line-height: 22px;

            &:first-child {
                background: $originColor;
                margin-right: 10px;
            }

            &:last-child {
                color: $originColor;
                border: 1px solid $originColor;
                &:hover {
                    background-color: #FFFFFF;
                }
            }
        }
    }
}

