.post {
    min-height: calc(100vh - 400px);
    padding: 30px 0;
    background-color: #fff;

    .content {
        width: 100%;

        .no-auth {

            .alert-show {
                background-color: #CE7A58;
                white-space: normal;
            }

            .alert-show .mess {
                color: #ffffff;

                a {
                    color: #fff;
                }
            }

            .alert-show .mess a:hover {
                color: #3b3bff
            }
        }

        .main-title {
            margin: 0px;
            font-size: 28px;
            display: block;
            margin-bottom: 20px;
            color: #333333;
            font-weight: 500;
            line-height: 36px;
            position: relative;
            text-align: justify;
        }

        .result {
            font-size: 20px;
        }

        .form-group {
            margin-bottom: 20px;

            .input-form {
                padding-right: 280px;
                position: relative;
                margin-bottom: 20px;

                input, select {
                    &:focus {
                        box-shadow: unset;
                        outline: none;
                    }
                }
                .btn-search {
                    width: 270px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border-radius: 4px;
                    min-width: 160px;
                    font-size: 18px;
                    height: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    background: #CE7A58;
                    color: #fff;
                }
            }
        }

        .list-post{
            margin-top: 50px;
            .post-wrapper{
                &__image{
                    width: 100%;
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 6px;
                }
                &__box{
                    padding: 0 20px;
                    margin-bottom: 10px;
                }
                &__create{
                    margin-top: 10px;
                    color: #b6b6b6;
                }
                &__title{
                    font-weight: bold;
                }
            }
        }
    }
    .form-control{
        &.date{
            margin-right: 10px;
            width: 25%;
        }
    }
}
